/*customise css*/
@primary-color:lightseagreen;
@warning-color:red;

.header-panel{
    text-align: center;
    border-bottom: 1px solid #dee2e6;
}
.header-context{
    background: rgba(0,0,0,.05);
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: @primary-color;
}
p.header-context{
    font-size: 16px;
}
h3.header-context{
  background: transparent;
}
.add-record-panel{
    padding-top: 10px;
}
.redirect-icon{
    cursor: pointer;
    float: right;
    margin: 0;
    border: 1px solid;
    font-size: 12px;
    padding: 3px;
    position: absolute;
    border-radius: 20px;
    right: 5px;
}
.redirect-icon:hover{
    background: @primary-color;
    color: white;
}
.right{
    float: right;
    padding-right: 10px;
}
small.right{
  margin-top: -20px;
  color: @primary-color;
}
.button-group{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
.button-hover{
    height: 50px;
    width: 150px;
    background: @primary-color;
    margin: 20px;
    float: left;
    border:0px;
    color:#fff;
    transition-timing-function: linear;
    -webkit-transition-duration: 0.5s;
    box-shadow:0px 0 0 #31708f  inset;
}
.button-hover:hover{
    box-shadow: 150px 0 0 #31708f inset;
}
.link-hover{
    text-decoration: none;
    span{
    font-weight: 100;
    transition: all .5s;
    border-bottom: 1px solid;
    }
    &:hover{
        span{
            font-weight: 400;
        }
    }
}
.checked{
    color: #20b261;
}
.fixed-width-col{
  width:160px;
  cursor: pointer;
}
.required::after{
    content:"*";
    color:@warning-color;
}
.error-message{
    color: @warning-color;
}
.table-wrap{
    max-height: 360px;
    overflow-y: auto;
}
select{
    margin-bottom: 10px;
}
.alert-link{
    cursor: pointer;
}