<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NLA_Demo</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="/addRecords/index.js"></script>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <!-- Add this after vue.js -->
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <link type="text/css" rel="stylesheet" href="style.css">
</head>

<body>
    <div id="addRecords" class="col-sm-12">
        <div class="header-panel">
            <header>
                <h3 class="header-context">
                    Web Library Platform
                    <small @click="goToHomePage" class="redirect-icon">Home</small>
                </h3>
            </header>
            <div>
                In this page, you can add new Person, Book and Locan Record into the libaray platform.
                <div class="button-group">
                    <button @click="showNewPersonPanel" class="button-hover">Person</button>
                    <button @click="showNewBookPanel" class="button-hover">Book</button>
                    <button @click="showNewLoanRecordPanel" class="button-hover">Loan Record</button>
                </div>
            </div>
        </div>
        <div v-show="showAddPerson && !response.length" class="add-record-panel">
            <form id="person-form">
                <div v-if="errors.length">
                    <ul>
                        <li class="error-message" v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label class="required">Name</label>
                    <input v-model="newPerson.name" required type="text" class="form-control" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input v-model="newPerson.emailAddress" type="email" class="form-control" aria-describedby="emailHelp"
                        placeholder="Enter Email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input v-model="newPerson.phoneNumber" type="number" class="form-control" placeholder="Enter Phone Number">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your phone number with anyone
                        else.</small>
                </div>
                <button type="button" @click="addNewPerson" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div v-show="showAddBook && !response.length" class="add-record-panel">
            <form id="book-form">
                <div v-if="errors.length">
                    <ul>
                        <li class="error-message" v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label class="required">Name</label>
                    <input v-model="newBook.title" required type="text" class="form-control" placeholder="Enter Book Name">
                </div>
                <div class="form-group">
                    <label class="required">Author</label>
                    <input v-model="newBook.author" required type="text" class="form-control" placeholder="Enter Author">
                </div>
                <div class="form-group">
                    <label class="required">ISBN Number</label>
                    <input v-model="newBook.ISBN" required type="number" class="form-control" placeholder="Enter ISBN Number">
                </div>
                <button type="button" @click="addNewBook" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div v-show="showAddLoanRecord && !response.length" class="add-record-panel">
            <div v-if="errors.length">
                <ul>
                    <li class="error-message" v-for="error in errors">{{ error }}</li>
                </ul>
            </div>
            You can select a borrower in the selector and tick the books you want to loan and submit to complete adding
            a loan record.
            <div>
                <label class="required">Borrower</label>
                <select v-model="selected" v-show="persons!=null&& persons.length>0">
                    <option disabled value="">Please select one</option>
                    <option v-for="person in persons" v-bind:value="person.id">{{person.name}}</option>
                </select>
            </div>
            <div class="table-wrap">
                <table class="table table-striped" v-show="books!=null&& books.length>0">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>ISBN</th>
                            <th>Loan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="book in books">
                            <td>{{book.title}}</td>
                            <td>{{book.author}}</td>
                            <td>{{book.ISBN}}</td>
                            <td>
                                <input type="checkbox" v-model="book.isChecked">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="right btn btn-primary" @click="loanBooks">Submit</button>
        </div>
        <div v-show="response.length" class="px-3">
            {{response}}
        </div>
    </div>
</body>

</html>