<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>NLA_Demo</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="index.js"></script>
    <link type="text/css" rel="stylesheet" href="style.css">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <link rel="stylesheet/less" type="text/css" href="styles.less" />
</head>

<body>
    <div id="root" class="col-sm-12">

        <div class="header-panel">
            <header>
                <h3 class="header-context">
                    Web Library Platform
                    <small @click="goToAddNewRecordPage" class="redirect-icon">Add Records</small>
                </h3>
            </header>
            <div>
                In the platform, you can populate all books' record in the library as well as all library registers'
                record.
                <div class="button-group">
                    <button @click="fetchBooks" class="button-hover">Books List</button>
                    <button @click="fetchPersons" class="button-hover">Registers List</button>
                </div>
            </div>


        </div>
        <div v-show="noRecordAlert" class="alert alert-primary" >
            Oops, it looks like no record here, please go to add <a class="alert-link" @click="goToAddNewRecordPage">records page</a>  to add some records first.
        </div>
        <div v-show="books!=null&& books.length>0">
            <div class="header-context">
                Books Records
            </div>
            <small class="right">{{books.length}} books</small>
            <div class="table-wrap">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>ISBN</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="book in books">
                            <td>{{book.title}}</td>
                            <td>{{book.author}}</td>
                            <td>{{book.ISBN}}</td>
                            <td class="fixed-width-col">
                                <a @click="fetchBookLoanHistory(book)" class="link-hover">
                                    <span>Loan History</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div v-show="persons!=null&& persons.length>0">
            <div class="header-context">
                Registers Records
            </div>
            <small class="right">{{persons.length}} persons</small>
            <div class="table-wrap">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email Address</th>
                            <th>Contact Number</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="person in persons" v-bind:class="{ checked: person.isChecked}">
                            <td>{{person.name}}</td>
                            <td>{{person.emailAddress}}</td>
                            <td>{{person.phoneNumber}}</td>
                            <td class="fixed-width-col">
                                <a @click="fetchPersonLoanHistory(person)" class="link-hover">
                                    <span>Loan History</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div v-show="bookLoanHistory!=null&& bookLoanHistory.length>0">
            <div class="header-context">
                book Loan Records
            </div>
            <small class="right">{{bookLoanHistory.length}} records</small>
            <div class="table-wrap">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Loan Date</th>
                            <th>Person</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="history in bookLoanHistory">
                            <td>{{history.borrowDate | moment}}</td>
                            <td>{{history.person.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div v-show="personLoanHistory!=null&& personLoanHistory.length>0">
            <div class="header-context">
                Register Loan Records
            </div>
            <small class="right">{{personLoanHistory.length}} records</small>
            <div class="table-wrap">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Loan Date</th>
                            <th>Loan Amount</th>
                            <th>Books Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="history in personLoanHistory" v-show="history.books.length>0">
                            <td>{{history.borrowDate | moment}}</td>
                            <td>{{history.books.length}}</td>
                            <td>
                                <span v-for="(book,index) in history.books">
                                    <label v-if="index!=history.books.length -1"> {{book.title}},</label>
                                    <label v-if="index===history.books.length -1"> {{book.title}}</label>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</body>

</html>